* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: 700;
    font-family: Montserrat ;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section
{
    padding-top: 6rem;
    padding-bottom: 10rem;
    text-align: center;
}

.btn-large
{
    font-size: 2rem;
    padding: 2.2em 1.6rem ;
}

.btn
{
    
    margin-top: 2rem;
    
    padding: 2.2em 1.6rem ;
    font-weight: 400;
    display: inline-block;
    background-color: transparent;
    border: 2px solid  #fff;
    border-radius: .4rem;
    color:#fff ;
    cursor: pointer;
    transition: all .5s;

    
}
html
{
scroll-behavior: smooth;
}


.btn-social
{
    width: 50px;
    height: 50px;
    
    font-size: 20px;
    line-height: 20px;
}

.btn-outline
{
    color:#fff ;
    border-color: #fff;
    background-color: transparent;
    padding: 2.2em 1.6rem ;
}

.btn-outline:hover
{
    color: #212529;
    background-color: #fff;
}

.btn-primary
{
    border: 2px;
    color: #212529;
    background-color: #fff;
    padding: 12px;
}
.btn-primary:hover
{
background-color: violet;

}

.img-fatih
{
    
    max-width: 256px;
    height: 300px;
    margin: 2rem;

}





.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}



.text-uppercase {
    text-transform: uppercase;
}

/* Navbar*/

nav {
    width: 100%;
    font-family: Montserrat;
    background-color: yellowgreen;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: 0.5rem;
}


#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2.8rem;
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;

}

#nav-links .nav-link:hover {
    color: #1ABC9B;
}

header
{
    background-color: yellowgreen;
    height: 1000px;
    background-color:gray ;
    padding-top: calc(106px + 4rem);
    text-align: center;


}


header h1
{
    color:#fff ;
    font-size: 5rem;
}

header h2
{
    color: #fff;
    
}


h2.star-light
{
    border-color: #fff;

}

h2.star-dark
{
    border-color: darkgreen;
    border: none;
    max-width: 25rem;
    border-radius: 10px;
    margin: 2.5rem auto;
}

.star-light,.star-dark
{
    border: none;
    border: 0.2rem solid #fff;
    max-width: 25rem;
    border-radius: 10px;
    margin: 2.5rem auto;
    
}

.star-light::after,.star-dark::after
{
    content: "\2605";
    color: #ffffff;
}

/*ikinci kısım*/

#filmler
{
    height: 700px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    background-color: rgb(221, 170, 107);
}

#filmler h2
{
    font-size: 4.8rem ;
    color:darkgreen ;
}

.arog
{
    transition: all .5s;
    overflow:hidden ;
    max-width: 100%;
    height: auto;

}

.arog:hover
{
    transform: scale(1.2);
}


.col
{
    float: left;
    width: 33%;
    padding:10px;

}

.film-item
{
    
    overflow:hidden ;
    
}

.buz   
{
    max-width: 57%;
    height: auto;
}


.taksi
{
    max-width: 52%;
    height: auto;
}


#müzik
{
    background-color: gray;
    color: #fff;
}

/* iletişim*/

#contact h2
{
    font-size: 48px;
    color: #212529;
}


.video1
{
    margin-right: 11rem;
}
 

#form
{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    
}

.grup-form
{
    border-bottom: 1px solid whitesmoke;
    padding: 30px;
    margin-bottom: 40px;

}


.grup-form input,textarea
{
    
    border: none;
    width: 100%;
    display: block;
    font-size: 25px;
    
}

.grup-form input:focus
{
    outline: 0;
}

.grup-form textarea:focus
{
    outline: 0;
}

/*footer kısmı*/

footer
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: darkolivegreen;
    color: #fff;
    text-align: center;

}

footer h4
{
    font-size: 25px;
}
footer p
{
    font-size: 15px;
    margin-top: 10px;
}

footer li
{
    display: inline-block;
    margin-right: 10px ;
    margin-left: 10px;
}

.copyright
{
    background-color: lightyellow ;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #4d2020;
    text-align: center;
}     

#saat
{
    
    width: 50%;
    font-size: 25px;
    background-color: orange;
    padding-left: 10px;
}

/* buttonlar bozuk hakkımda ışık yanmıyo buton fazlalığı var video çalışmıyor
video arası boşluk
